@model Online_School_Teacher.Models.Course

@{
    ViewData["Title"] = "Add_Course";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Add_Course</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add_Course">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input id="Title" asp-for="Title" width="80" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="Description" asp-for="Description" class="form-control"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> Add New Course </button>
            </div>
        </form>

        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">

                

                window.onload = function () {
                    swal({
                        icon: 'success',
                        title: 'Course Added',
                        text: 'Now Teachers Can Upload Tutorial Under '+document.getElementById("Title").value +"",
                    })
                    document.getElementById("Title").value = "";
                    document.getElementById("Description").value = "";
                };
            </script>

        }

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}
