
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>
<a asp-action="Teacher_List"> Teachers Info </a>  |
<a asp-controller="Admin" asp-action="Add_Course" > Add Course </a> |
<a asp-controller="Admin" asp-action="Course_List"> Course List </a> |
<a asp-controller="Admin" asp-action="LogOut"> Logout </a>